.navbar{
  height: 75px;
}

.ulhead{
  list-style: none;
}
.ulhead li{
  display: inline-block;
  padding: 0 20px;
  }
  .secul{
display: flex; 
  }
  .secul li{
    display: inline-block;
    padding: 0 30px;

  }
  .login{
    top: 5px;
    width: 30%;
    padding: 40px 23px;
    background-color:  #2874f0;;
  }
  .logininput{
    top: 5px;
    height: 500px;
    width: 40%;
  }
  .otp{
    background-color: #fb641b;
    color: antiquewhite;
  }
  .otpup {
    margin-top: 10px;
    font-size: 12px;
    font-weight: 400;
  }
  .inp{
    border: none;
  }
  .link{
    text-decoration: none;
    color: black;
    

  }
  .box{
    height: 255px;
    width: 476px;

  }
  .cart-total--item {
    width: 1.5rem;
    height: 1.5rem;
    position: absolute;
    background-color: #000;
    color: #000;
    border-radius: 50%;
    display: grid;
    place-items: center;
    top: 5%;
    left: 68.5%;
    background-color: #2874f0;
  }
  .navbar-link:link,
  .navbar-link:visited {
    display: inline-block;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--color-black);
    transition: color 0.3s linear;
  }
  
  .navbar-link:hover,
  .navbar-link:active {
    color: var(--color-helper);
  }
  